/*~*
 *		Author: Thuy-Tien Nguyen-Tran
 *		Description: For styling my personal webpage
*~*/

/* 
 *		Initial settings
 */

a {
	color: #B44335;
	text-decoration: underline; }
 
a:hover {
	color: #e4a9a2;
	text-decoration: none;
	transition: color 0.7s ease; }
 
#about {
	font-size: 0.95em;
	line-height: 18px;
	padding-top: 8px; } 
 
body {
	background-color: black;
	color: #f2f2f2;
   font-size: 1.63rem;
	font-family: 'Open Sans', sans-serif;
	  -webkit-transition: background-color 2s ease, color 2s ease;
  /* Safari */
  transition: background-color 2s ease, color 2s ease; }

footer {
	font-size: 14px;
	margin: 3% 20% 0 20%; }	
 
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 5em;
  margin: 0px auto; }
  h1#greeting {
    color: #B44335; }

h2 {
  padding-top: 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 2.5em;
  margin: 0px auto; }
  
.img-circle {
    border-radius: 50%;
}
 
#introduction {
	height: 100vh;
	padding: 0 20% 0% 20%;
	text-align: left; }
  
#landing-page {
	height: 100vh;
	background: url(../images/scene3.jpg) no-repeat 50% 50%;
	background-size: cover; }
  
#logo {
	display: inline-block;
	position: absolute;
	text-align: left;
	width: 100px;
	padding: 5px; }

#nav-menu {
	position: relative;
	justify-content: space-between; 
	margin-right: 1%;
	text-align: right; }

#nav-menu>div>a {
	padding: 0 5px 0 5px;
	text-decoration: none;
	transition: none; }

#nav {
	position: relative;
	padding: 10px 10px 0 0;
	display: table;
	box-sizing: border-box;
	width: 100%; }  

#scroll {
	position: absolute;
	bottom: 1%;
	width: 60%; }

.social-media {
	float: left; }

.social-media-icon {
	padding: 0 1px 25px 1px; }

strong {
	color: #b43567; } 
	 
td { 
	vertical-align: top; }

/*
	Tooltip effects
	Assistance from: http://www.w3schools.com/css/css_tooltip.asp
*/
.tweetooltip {
  cursor: pointer;
  position: relative;
  display: inline-block; }

.tweetooltip .tooltiptext {
  border: 2px solid white;
  visibility: hidden;
  width: 125px;
  background-color: white;
  color: black;
  border-radius: 6px;
  padding: 0 0 15px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s; }
  .tweetooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent; }
	 
.tweetooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1; }
 
.tooltiptext.clicked4:after {
	 border-color: white transparent transparent transparent;} } 

/*
	Scroll indicator animation
	Assistance from: http://www.transformicons.com/builder.html
*/

@-webkit-keyframes chevron-pulse {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes chevron-pulse {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

.tcon-svgchevron {
  height: 40px;
  width: 40px; }

.tcon-svgchevron path {
  -webkit-animation: chevron-pulse 3s infinite cubic-bezier(0.4, 0, 0.2, 1);
  animation: chevron-pulse 3s infinite cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
  stroke: white;
  stroke-width: 1px; }

.tcon-svgchevron path.a1 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

.tcon-svgchevron path.a2 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s; }

.tcon-svgchevron path.a3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }